// Variables
$text-color: #ffffff;
$background-color: #ffa900;

// Estilos para el contenedor de logos
.container_logos {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $text-color;
  height: auto;
  padding: 10px 0;

  // Estilos para las imágenes de logos
  .img-logos {
    margin: 15px;
    width: 30%;
  }

  // Media Query para pantallas de 700px o más
  @media screen and (min-width: 700px) {
    display: flex;
  }

  // Media Query para pantallas de 1440px o más
  @media screen and (min-width: 1440px) {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 10px 0;
  }
}

// Estilos para el contenedor de aliados
.container_aliados {
  background-color: $background-color;
}
