$primary-color: #3498db;
.container_corousel{
    background-color: $primary-color;
    
}
.card {
    position: relative;
    background-color: #717171;
    padding: 10px;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 10px; 
    overflow: hidden;
}

.card img {
    width: 100%;
    max-width: 250px;
}

.cont_card {
    margin-top: 10px;
    height: 220px;
    overflow: auto;
}

.container_corousel {
    height: auto;
}
@media screen and (max-width: 930px) {
    .card {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .card {
        height: auto;
    }
}