.cont_img_quienes {
    background-image: url(../images/iglesia.png);
    background-repeat: no-repeat;
    margin: 5% 0%;
}

.footer_1 p {
    color: #fff;
}

// h1 {
//     font-size: 39px; /* Cambiado de 2.441em a 39px */
// }

// h2 {
//     font-size: 31px; /* Cambiado de 1.953em a 31px */
// }

// p {
//     font-size: 25px; /* Cambiado de 1.563em a 25px */
// }

@media screen and (max-width: 767px) {
    h1 {
        font-size: 28.8px; /* Cambiado de 1.8em a 28.8px */
    }

    h2 {
        font-size: 24px; /* Cambiado de 1.5em a 24px */
    }

    p {
        font-size: 19.2px; /* Cambiado de 1.2em a 19.2px */
    }
}
