// Define variables
$primary-color: #3498db;
$secondary-color: #2980b9;
$nav-text-color: #ffffff;
$corousel-bg-color: #2980b9;
$corousel-text-color: #252525;
$dropdown-text-color: #ffffff;
$active-nav-bg-color: #007FCD;
$active-nav-text-color: white;
$toggler-bg-color: #007FCD;
$toggler-border-color: #3498db;
$card-bg-color: #ffffff75;
$card-text-color: #252525;

// Define mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Apply styles using variables and mixins
.navbar {
  background-color: $primary-color !important;
}

.navbar-collapse {
  @include flex-center;
}

.navbar-nav .nav-item, .nav-link {
  color: $nav-text-color !important;
}

.dropdown-menu {
  background-color: $secondary-color;
}

.txt_service {
  color: $corousel-text-color;
  height: auto;
  padding: 10px 0;
}

.txt_service_1 {
  color: white;
  @include flex-center;
  text-align: center;
}

.container_corousel {
  @include flex-center;
  background-color: $corousel-bg-color;
  height: 800px;
  padding: 50px 0;
}

.dropdown-item {
  color: $dropdown-text-color;
  @include flex-center;
  text-align: center;
}

.nav .active {
  background-color: $active-nav-bg-color;
  color: $active-nav-text-color !important;
}

#navbarNav {
  @include flex-center;
  text-align: center;
}

.navbar-toggler {
  background-color: $toggler-bg-color !important;
  border: $toggler-border-color !important;
}

.contenedor_card {
  @include flex-center;
  padding: 0;
}

.card {
  background-color: $card-bg-color !important;
  color: $card-text-color;
}

.container_aliados {
  @include flex-center;
  text-align: center;
  padding: 10px;
}

// Media queries
@media only screen and (min-width: 320px) {
  .navbar {
    padding: 10px 10px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 769px) {
  .navbar {
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    padding: 10px 80px;
  }
}
