.contenedor_card {}

.carousel_cards {}

.card {
    background-color: #717171;
    /* width: 25%; */
    padding: 10px;
    /* display: row; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;

}

.container_corousel {
    height: auto;
}

.txt_service {
    display: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Cuando la pantalla es menor a 653 píxeles de ancho, ocultar todos los enlaces, excepto el primero ("Inicio"). Mostrar el enlace que debería abrir y cerrar la barra de navegación en pantallas pequeñas (.icon) */
@media screen and (max-width: 930px) {

    .card {
        height: auto;
    }
}

@media screen and (min-width: 930px) {

    .card {
        height: 400px;

    }



}

@media and (min-width: 930px) {}

/* La clase "responsive" se agrega a la barra de navegación superior con JavaScript cuando el usuario hace clic en el icono. Esta clase hace que la barra de navegación se vea bien en pantallas pequeñas (mostrar los enlaces verticalmente en lugar de horizontalmente) */
@media screen and (max-width: 600px) {
    .card {
        height: 4100;
    }
}