body {
    background-image: url("../images/iglesia.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e73073c6;
    margin: 2%;
    
}
.form-control{
    background-color: #ffffff27;
    border-color: #ffffffa4;
    margin-top: 5px;
}
/* Cambia el color del texto del párrafo */
.main-content p {
    color: white;
    
}

p{
    color: white;
}