/* Estilos base */
h1,
h2 {
    color: #007FCD;
}

p {
    color: #252525;
}

h1 {
    font-size: 2.441em;
}

h2 {
    font-size: 1.953em;
}

p {
    font-size: 1.563em;
}

/* Media query para dispositivos móviles (ej. ancho máximo de 767px) */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 1.8em;
        /* Ajusta según sea necesario */
    }

    h2 {
        font-size: 1.5em;
        /* Ajusta según sea necesario */
    }

    p {
        font-size: 1.2em;
        /* Ajusta según sea necesario */
    }
}